.temp-text {
    font-size: 13px;
}

.weatherLogo {
    width: 100px;
    margin-left: 10px;
    margin-right: 15px;
}

.switch {
    border: 2px solid #7124ff;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    border-radius: 20px;
    padding: 0px 20px;
    /* margin: 15px 15px; */
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 0px;
    font-weight: bold;
}

.status {
    border: 2px solid #7124ff;
    background-color: #5505ff;
    box-shadow: 0 0 1px 0px rgb(255 255 255), 0 0 7px 3px rgb(255 255 255);
    border-radius: 20px;
    padding: 0px 6px;
    margin: 20px 10px;
    font-size: 15px;
    margin-left: 100px;
    color: #ffffff;
}

.dash-title {
    margin-left: 40px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
}

.main-content {
    /* padding: 20px; */
    /* margin-top: 80px; */
    /* margin-left: 200px; */
    /* margin-top: 50px; */
    /* margin-left: 210px; */
    color: #f9f9f9;
}

.container {
    display: flex;
}

/* .values {
          
          margin-left: 20px;
          margin-top: 10px ;
    } */
.value-block-2 {
    margin-left: 3px;
}

.ind-val-main {
    /* display: flex; */
    /* border: 2px solid hwb(48deg 43% 56%); */
    /* border-radius: 5px; */
    /* color: rgb(255, 255, 255); */
    /* background-color: rgb(44 44 44); */
    padding-left: 10px;
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    /* margin-left: 11px; */
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

.ind-val-voltage {
        display: flex;
    border: 2px solid #3100ff;
    border-radius: 10px;
    color: rgb(0 0 0);
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    padding-left: 10px;
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);
}

.ind-val-current {
        display: flex;
    border: 2px solid #3100ff;
    border-radius: 10px;
    color: rgb(0 0 0);
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    padding-left: 10px;
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);
}

.ind-val-soc {
        display: flex;
    border: 2px solid #3100ff;
    border-radius: 10px;
    color: rgb(0 0 0);
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    padding-left: 10px;
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);
}

.ind-val-power {
        display: flex;
    border: 2px solid #3100ff;
    border-radius: 10px;
    color: rgb(0 0 0);
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
    padding-left: 10px;
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);
}

.ind-val-main-temp {
        /* border: 2px solid hwb(0 33% 67%); */
        border-radius: 20px;
        color: rgb(0, 0, 0);
        /* background-color: rgb(255, 255, 255); */
        padding-bottom: 1px;
        padding-left: 25px;
        padding-right: 25px;
        /* padding-left: 21px; */
        /* padding-right: 27px; */
        /* padding-bottom: 27px; */
        /* padding-top: 15px; */
        /* margin-left: 37px; */
        /* margin-bottom: auto; */
        /* margin-top: -10px; */
        border: 2px solid #7124ff;
        background-color: #e9e9e9;
        box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
        background-color: #cdbaff;
}

.ind-val-2 {
    border: 1px solid #1900ff;
    padding-left: 10px;
    border-radius: 15px;
    margin: 13px 10px;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);
}

.block-2 {
    display: flex;
    margin-left: 3px;
    margin-top: 3px;
    /* margin-bottom: 10px; */
}

.ind-val-2-c {
    display: flex;
}

.ind-val-2-m {
    display: flex;
}

.ind-val-2-a {
    display: flex;
}

/* .ind-val-guage-rpm {
        border: 5px solid #2e2e2e;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(44 44 44);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    } */
.ind-val-guage-slope {
    /* border: 2px solid #6a6a6a; */
    /* border-radius: 5px; */
    color: rgb(0, 0, 0);
    /* background-color: rgb(30 30 30); */
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 3px;
    margin-top: auto;
    margin-bottom: 3px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    background-color: #e9e9e9;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #cdbaff;
}

.ind-val-guage-speed {
    /* border: 2px solid #6a6a6a; */
    /* border-radius: 5px; */
    color: rgb(0, 0, 0);
    /* background-color: rgb(30 30 30); */
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 3px;
    margin-top: auto;
    margin-bottom: 3px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    background-color: #e9e9e9;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #cdbaff;
}

/* .ind-val-guage-soc {
    border: 5px solid #c3c3ff;
    border-radius: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 109, 109);
    padding-left: -5px;
    padding-right: -9px;
    padding-bottom: 5px;
    padding-top: 15px;
    margin-left: 13px;
    } */
.val-rpm {
    margin-left: 130px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font: weight bold;
}

.val-slope {
    margin-left: 130px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font: weight bold;
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

.val-speed {
    margin-left: 120px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font: weight bold;
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

.val-SOC {
    margin-left: 130px;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font: weight bold;
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

body {
    background-color: rgb(255, 253, 253);
}

.value-bat {
    font-size: 40px;
    /* margin: -10px; */
    margin-left: 10px;
    /* margin-bottom: -16px; */
    padding-bottom: -4px;
    /* font-family: Arial, sans-serif; */
    font-weight: 1000;
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

.value-temp {
    font-size: 25px;
    /* margin: 5px; */
    /* margin-left: 20px; */
    padding-bottom: 0px;
    font-family: Arial, sans-serif;
    font-weight: 1000;
    color: #000;
    /* margin: auto; */
    padding-left: 10px;
}

#value-name-unit {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #000;
}

#value-name-unit-temp {
    color: #000;
    margin-left: 15px;
    margin-right: 10px;
    padding: 8px;
    /* margin: auto; */
    /* margin-left: 10px;
    }
      
.main {
    display: flex;  
}
 #map{
    height: 250px;
    width: 1287px;
    background-color: #2e2e2e;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.main-graph {
    width:800px; 
    height: 300px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 5px;
    color: #ffffff;
    } 
    canvas {
        background-color: rgb(44, 44, 44);
       
      }
    .values{
        display:flex;
        border: 2px solid #707070;
        border-radius: 5px;
    }
    .guages {
        display:flex;
        /* margin:auto; */
}

.distance {
    /* border: 2px solid #626060; */
    display: flex;
    font-size: 15px;
    text-align: center;
    padding-left: 20px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* background-color: #3a3a3a; */
    margin-left: 3px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    background-color: #e9e9e9;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #cdbaff;
}

.buttons {
    /* border: 2px solid #646464; */
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    background-color: #e9e9e9;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #cdbaff;
}

.value {
    display: flex;
    padding-top: 55px;
    /* box-shadow: 0 0 8px rgb(153 153 153 / 50%), 0 0 20px rgb(255 255 255 / 30%);*/
}

p {
    margin-bottom: 0;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255); */
}

.blocks {
    padding: 70px 140px;
}

.value-temperature {
    font-size: 70px;
    font-weight: bold;

}

.value-humidity {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 25px;
    font-weight: bold;
    margin-right: 10px;
    /* box-shadow: 0 0 8px rgb(153 153 153 / 50%), 0 0 20px rgb(255 255 255 / 30%);*/
}

#gauge {
    width: 299px;
    height: 300px;
    margin: 0 auto;
    /* position:sticky; */
    /* border-radius: 50%; */
    /* border: 5px solid #59c4ff; */
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5); */
    /* background-image: radial-gradient(circle, #00a7ff, #0082c8); */
    /* box-shadow: 0 0 8px rgb(201 0 255), 0 0 20px rgba(76, 0, 255);*/
}

#gauge .label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 1.2;
    color: #ffffff;
    text-shadow: 1px 1px #000000, -1px -1px #000000, -1px 1px #000000, 1px -1px #000000;
}

#gauge .value {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 1.2;
    color: #000000;
    text-shadow: 1px 1px #000000, -1px -1px #000000, -1px 1px #000000, 1px -1px #000000;
}

#gauge .min {
    font-size: 14px;
    text-align: left;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    color: #000000;
}

#gauge .max {
    font-size: 14px;
    text-align: right;
    /* position: absolute; */
    bottom: 0;
    right: 0;
    color: #000000;
}

/* .battery {
    display: flex;
    border: 2px solid #8f7bff;
    margin-left: 3px;
    background-color: #e9e9e9;
    padding: 9px 30px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(48 0 255), 0 0 7px 2px rgb(44 0 255);
    background-color: #19005a;
} */

.battery {
    display: flex;
    margin-left: 3px;
    padding: 9px 30px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #cdbaff;
}

.circle {
    border: 2px solid #6d00fb;
    margin-bottom: auto;
    border-radius: 50%;
    box-shadow: 0 0 11px 2px rgb(195, 0, 255), 0 0 7px 1px rgb(132, 0, 255);
}
.value-top {
    margin-bottom: 43px;
}
.parameter {
    font-size: 10px;
    font-weight: bold;
}
.maps {
    border: 2px solid #7124ff;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    border-radius: 20px;
    margin-left: 3px;
    width: 557px;
    height: 362px;
}

.graph-border {
    margin-left: 3px;
    border-radius: 20px;
    border: 2px solid #7124ff;
    box-shadow: 0 0 1px 0px rgb(119 0 255), 0 0 7px 3px rgb(121 63 255);
    background-color: #ffffff;
}